.gradient-background-color {
    background-image: linear-gradient(#eeaf61, #ee5d6c, #6a0d83);
  }

.tree_triangle_1_1 {
	position:absolute;

	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 250px solid #587e60;

	margin-top: 200px;
    margin-left: 300px;

  }
  .tree_triangle_1_2 {
	position:absolute;

	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-bottom: 250px solid #485e52;

	margin-top: 350px;
    margin-left: 275px;
  }
.tree_triangle_2_1 {
	position:absolute;

	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 250px solid #587e60;

	margin-top: 200px;
    margin-left: 700px;

  }
  .tree_triangle_2_2 {
	position:absolute;

	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-bottom: 250px solid #485e52;

	margin-top: 350px;
    margin-left: 675px;
  }

  .tree_trunk_1 {
	position:absolute;

	height: 200px;
	width: 50px;
	background-color: #725c42;

	margin-top: 550px;
    margin-left: 370px;
  }
  .tree_trunk_2 {
	position:absolute;

	height: 200px;
	width: 50px;
	background-color: #725c42;

	margin-top: 550px;
    margin-left: 770px;
  }