.gradient-background-color {
	position:absolute;
	width: 100%;
	height:100%;
	margin-top: 0px;
    margin-left: 0px;
	background-color: lightblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(#2c477b, #5d81ee, #3f094e);
  }

.tree_triangle_1_1 {
	position:absolute;

	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 250px solid #587e60;

	margin-top: 200px;
    margin-left: 500px;

  }
  .tree_triangle_1_2 {
	position:absolute;

	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-bottom: 250px solid #485e52;

	margin-top: 350px;
    margin-left: 475px;
  }
  .tree_triangle_2_1 {
	position:absolute;

	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 250px solid #587e60;

	margin-top: 200px;
    margin-left: 900px;

  }
  .tree_triangle_2_2 {
	position:absolute;

	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-bottom: 250px solid #485e52;

	margin-top: 350px;
    margin-left: 875px;
  }
  .tree_triangle_3_1 {
	position:absolute;

	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 250px solid #4c7054;

	margin-top: 200px;
    margin-left: 800px;

  }
  .tree_triangle_3_2 {
	position:absolute;

	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-bottom: 250px solid #384c41;

	margin-top: 350px;
    margin-left: 775px;
  }

  .tree_trunk_1 {
	position:absolute;

	height: 200px;
	width: 50px;
	background-color: #725c42;

	margin-top: 550px;
    margin-left: 570px;
  }
  .tree_trunk_2 {
	position:absolute;

	height: 200px;
	width: 50px;
	background-color: #725c42;

	margin-top: 550px;
    margin-left: 970px;
  }
  .tree_trunk_3 {
	position:absolute;

	height: 200px;
	width: 50px;
	background-color: #5e4b35;

	margin-top: 550px;
    margin-left: 870px;
  }

  .train_rect_left {
	position:absolute;

	height: 100%;
	width: 150px;
	background-color: #555;
    margin-left: 0px;
  }
  .train_rect_right {
	position:absolute;

	height: 100%;
	width: 150px;
	background-color: #555;
	margin-left: 1400px;
  }
  .train_rect_top {
	position:absolute;

	height: 150px;
	width: 100%;
	background-color: #555;
	margin-top: 0px;
  }
  .train_rect_bottom {
	position:absolute;

	height: 300px;
	width: 100%;
	background-color: #555;

	margin-top: 680px;
  }
  .train_seats_row {
	position:absolute;

	height: 200px;
	width: 1450px;
	background-color: #808080;

	border-radius: 5%;

	margin-top: 750px;
	margin-left: 20px;
  }

  .train_seats_1 {
	position:absolute;

	height: 150px;
	width: 150px;
	background-color: #555;
	border-radius: 15%;

	margin-top: 780px;
	margin-left: 50px;
  }
  .train_seats_2 {
	position:absolute;

	height: 150px;
	width: 150px;
	background-color: #555;
	border-radius: 15%;

	margin-top: 780px;
	margin-left: 210px;
  }
  .train_seats_3 {
	position:absolute;

	height: 150px;
	width: 150px;
	background-color: #555;
	border-radius: 15%;

	margin-top: 780px;
	margin-left: 370px;
  }
  .train_seats_4 {
	position:absolute;

	height: 150px;
	width: 150px;
	background-color: #555;
	border-radius: 15%;

	margin-top: 780px;
	margin-left: 530px;
  }
  .train_seats_5 {
	position:absolute;

	height: 150px;
	width: 150px;
	background-color: #555;
	border-radius: 15%;

	margin-top: 780px;
	margin-left: 690px;
  }
  .train_seats_6 {
	position:absolute;

	height: 150px;
	width: 150px;
	background-color: #555;
	border-radius: 15%;

	margin-top: 780px;
	margin-left: 850px;
  }
  .train_seats_7 {
	position:absolute;

	height: 150px;
	width: 150px;
	background-color: #555;
	border-radius: 15%;

	margin-top: 780px;
	margin-left: 1010px;
  }
  .train_seats_8 {
	position:absolute;

	height: 150px;
	width: 150px;
	background-color: #555;
	border-radius: 15%;

	margin-top: 780px;
	margin-left: 1170px;
  }


  .next_station_1 {
	position:absolute;

	height: 100px;
	width: 250px;
	background-color: #808080;
	border-radius: 15%;

	margin-top: 20px;
	margin-left: 1170px;
  }
  .next_station_2 {
	position:absolute;

	height: 90px;
	width: 240px;
	background-color: #18191A;
	border-radius: 15%;

	margin-top: 25px;
	margin-left: 1175px;
  }

  .prev_station_1 {
	position:absolute;

	height: 100px;
	width: 250px;
	background-color: #808080;
	border-radius: 15%;

	margin-top: 20px;
	margin-left: 100px;
  }
  .prev_station_2 {
	position:absolute;

	height: 90px;
	width: 240px;
	background-color: #18191A;
	border-radius: 15%;

	margin-top: 25px;
	margin-left: 105px;
  }

  .fonts {
	font-family: monospace;
	color: #FFA500;
	font-size: 20px;

	transition: color 250ms, transform 550ms;

    &:hover {
        color: greenyellow;
        transform: translateY(-20px);
    }
  }